{% extends 'index.html' %}

{% block body %}
<div class="classification">
    <form action="/classify-url" method="POST" enctype="multipart/form-data">
        <input class="input-field" type="url" name="url" id="url" placeholder="Paste an URL..."  title="for URLs pointing to images make sure that the it ends on a valid image format" required>            
        <div class="format">
            <small>
                You can paste an URL pointing to youtube videos or to an image.
            </small>
        </div>
        <div>
            <input class="predict-btn" type="submit" value="Predict">
        </div>
    </form>
    <div class="prediction">
        {{pred_from_url}}
    </div>
</div>
<div class="classification">
    <form action="/classify-file" method="POST" enctype="multipart/form-data">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <label for="file-upload" class="custom-file-upload">Upload a file...</label>
        <input type="file" name="file" id="file-upload" aria-label="Upload a file" style="display:none;" required>
        <div class="format">
            <small>
                You can upload any image or video format, i.e. jpeg, png and mp4 or wav.
            </small>
        </div>
        <div>
            <input class="predict-btn" type="submit" value="Predict">
        </div>
        <script>
            $('#file-upload').change(function() {
            var i = $(this).prev('label').clone();
            var file = $('#file-upload')[0].files[0].name;
            $(this).prev('label').text(file);
            });
        </script>
    </form>
    <div class="prediction">
        {{pred_from_file}}
    </div>
</div>

{% endblock %}



