{% extends 'index.html' %}

{% block body %}


<div class="intro">
    <h2>Welcome at the DFirt demo page!</h2>
    <p class="intro">
        In this demo, you can predict whether the input content is a DeepFake (i.e. has been manipulated by deep learning technology) or real.<br> 
        In the “Deepfake detection” section you can upload your input, which can be either a file (image/video) or an URL (pointing to an image/video). 
    </p>
    <img class="DFirtlogo" src="/static/logo.svg" alt="DFirt logo">
</div>

{% endblock %}